@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  font-family: "Roboto", sans-serif;
  color: #393f50;
}
.navbar {
  width: 100%;
  background-color: #393f50;
  height: 70px;
  float: right;
}

.navbar a{
  color: white;
  margin-right: 20px;
}

.navbar-right{
  float: right;
}

input {
  width: 10%;
  height: 30px;
}

button {
  background-color: #ecee67;
  color: #2b3f73;
  width: 120px;
  height: 40px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 28px;
  border: none;
  outline: none;
  box-shadow: 2px 5px #888888;
  font-size: 20px;
}

.profile {
  display: flex;
}

.text-info {
  background-color: #e4e4e4;
  box-shadow: 4px 5px #888888;
  border-collapse: separate;
  border-spacing: 15px;
  margin-top: 80px;
  width: 400px;
  height: 190px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.info-nome {
  font-variant: small-caps;
}

.info-orcid {
  margin-left: 10px;
  margin-top: -15px;
  color: #404f8f;
}

.span-orcid {
  padding-left: 3px;

  font: small-caption;
  font-style: italic;
  font-size: 12px;
  color: #888888;
}

.info-institute {
  margin-left: 20px;
  font: small-caption;
  font-size: 20px;
  color: #797979;
}

.info-area {
  margin-left: 20px;
  margin-top: -15px;
  font: small-caption;
  font-size: 20px;
  color: #797979;
}

.profile img {
  width: 240px;
  height: 240px;
  border-radius: 100%;
}

.follow {
  /* border: double;*/
  display: block;
  margin-left: 10px;
  text-align: center;
  line-height: 50%;
  padding-top: 80px;
}

.follow h4 {
  color: #273b94;
}

.bio-text {
  font-style: italic;
  width: 700px;
}

textarea{
  width: 80%;
  height: 90px;
  text-align: center;
}