@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  font-family: "Roboto", sans-serif;
  color: #393f50;
}
.navbar {
  width: 100%;
  background-color: #393f50;
  height: 70px;
  float: right;
}

.navbar a{
  color: white;
  margin-right: 20px;
}

.navbar-right{
  float: right;
}

#search {
  width: 40%;
  height: 30px;
  font-size: 30px;
  color: white;
}

.profile {
  display: flex;
}

.text-info {
  background-color: #e4e4e4;
  box-shadow: 4px 5px #888888;
  border-collapse: separate;
  border-spacing: 15px;
  margin-top: 80px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.info-nome {
  font-variant: small-caps;
}

.info-orcid {
  margin-left: 10px;
  margin-top: -15px;
  color: #404f8f;
}

.span-orcid {
  padding-left: 3px;

  font: small-caption;
  font-style: italic;
  font-size: 12px;
  color: #888888;
}

.info-institute {
  margin-left: 20px;
  font: small-caption;
  font-size: 20px;
  color: #797979;
}

.info-area {
  margin-left: 20px;
  margin-top: -15px;
  font: small-caption;
  font-size: 20px;
  color: #797979;
}

.profile img {
  width: 240px;
  height: 240px;
  border-radius: 100%;
}

.follow {
  /* border: double;*/
  display: block;
  margin-left: 10px;
  text-align: center;
  line-height: 50%;
  padding-top: 80px;
}

.follow h4 {
  color: #273b94;
}

.bio-text {
  font-style: italic;
  width: 700px;
}

#new-post{
  width: 80%;
  height: 90px;
  text-align: center;
}

#avatar{
  max-height:200px;
}

#logout-button{
  background-color: rgb(161, 161, 161);
    font-size: 14px;
    margin: 10px 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar input{
  margin-top: 20px;
  font-size: 14px;
}